/* Document-wide */

#title {
    font-size: 3em;
    font-family: 'Berkshire Swash', cursive;
    vertical-align: bottom;
}

#myModal {
    height: 80%;
    overflow: hidden;
}

.modal-dialog {
    height: 90%;
}

.modal-content {
    height: 100%;
}

.modal-body {
    height: calc(100% - 56px);
    overflow: auto;
}