/* Document-wide */
html {
    background-color: #eee;
}

body {
    font-family: Garamond;
    margin: 0;
}

.std {
    font-size: 20px;
    position: absolute;
}


/* Headers and things */

#header {
    font-size: 32px;
    position: absolute;
    top: 5px;
    left: 20px;
}


/* Info boxes */
#trip_info {
    width: 40%; 
    margin-left: auto; 
    margin-right: auto;
    vertical-align: top;
    display: inline-block;
}

#resort_info {
    width: 40%;
    margin-left: auto; 
    margin-right: auto;
    vertical-align: top;
    display: inline-block;
}

/* Table settings */
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    margin-top: 40px;
}

td {
    margin: 10px 10px 10px 10px;
}

/* Input fields */

#field {
    font-weight: bold;
}

/* trip info */

#trip_header {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* resort info */

#resort_header {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#resort_name {
    font-size: 1.6em;
    font-weight: bold;
}

#resort_address {
    font-size: 1.4em;
}